<h1>Card Library Information Tool</h1>

<form action="show">
  <fieldset>
    <table>
      <tr>
        <td><h3><label>Account Number:</label></h3> </td>
        <td><input type="text" name="accountNumber" placeholder="9001xxxxxxxxx"></td>
      </tr>
    </table>
    <input type="submit" value="Submit">  
  </fieldset>
</form> 