<h1>Card Information Tool</h1>

<form action="show">
  <fieldset>
    <table>
      <tr>
        <td><h3><label>Card Number:</label></h3> </td>
        <td><input type="text" name="cardNumber" placeholder="90001xxxxxxxxx"></td>
      </tr>
    </table>
    <input type="submit" value="Submit">  
  </fieldset>
</form> 